<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haiwen.school.zx.mapper.AuditstatusMapper" >
  <resultMap id="BaseResultMap" type="com.haiwen.school.zx.beans.Auditstatus" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="auditStatus" property="auditstatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, auditStatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from auditstatus
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from auditstatus
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.haiwen.school.zx.beans.Auditstatus" >
    insert into auditstatus (id, auditStatus)
    values (#{id,jdbcType=INTEGER}, #{auditstatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.haiwen.school.zx.beans.Auditstatus" >
    insert into auditstatus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="auditstatus != null" >
        auditStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="auditstatus != null" >
        #{auditstatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.haiwen.school.zx.beans.Auditstatus" >
    update auditstatus
    <set >
      <if test="auditstatus != null" >
        auditStatus = #{auditstatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haiwen.school.zx.beans.Auditstatus" >
    update auditstatus
    set auditStatus = #{auditstatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAll" resultType="Auditstatus">
    select * from auditstatus
  </select>
</mapper>