<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haiwen.school.zx.mapper.CoursetypeMapper" >
  <resultMap id="BaseResultMap" type="com.haiwen.school.zx.beans.Coursetype" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="courseType" property="coursetype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, courseType
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from coursetype
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from coursetype
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.haiwen.school.zx.beans.Coursetype" >
    insert into coursetype (id, courseType)
    values (#{id,jdbcType=INTEGER}, #{coursetype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.haiwen.school.zx.beans.Coursetype" >
    insert into coursetype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="coursetype != null" >
        courseType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="coursetype != null" >
        #{coursetype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.haiwen.school.zx.beans.Coursetype" >
    update coursetype
    <set >
      <if test="coursetype != null" >
        courseType = #{coursetype,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haiwen.school.zx.beans.Coursetype" >
    update coursetype
    set courseType = #{coursetype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAll" resultType="Coursetype">
    select * from coursetype;
  </select>
</mapper>