<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haiwen.school.zx.mapper.ProfessionMapper" >
  <resultMap id="BaseResultMap" type="com.haiwen.school.zx.beans.Profession" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="teacherType" property="teachertype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, teacherType
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from profession
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from profession
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.haiwen.school.zx.beans.Profession" >
    insert into profession (id, teacherType)
    values (#{id,jdbcType=INTEGER}, #{teachertype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.haiwen.school.zx.beans.Profession" >
    insert into profession
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="teachertype != null" >
        teacherType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teachertype != null" >
        #{teachertype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.haiwen.school.zx.beans.Profession" >
    update profession
    <set >
      <if test="teachertype != null" >
        teacherType = #{teachertype,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haiwen.school.zx.beans.Profession" >
    update profession
    set teacherType = #{teachertype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAll" resultType="Profession">
    select * from profession
  </select>
</mapper>